<!-- <div class="card">
<div class="card-header">
</div>
<div class="card-body">
  <div class="row">
    <div class="col-md-2">Filter by</div>
    <div class="col-md-4">
   
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Filtered by: {{degetListFilter}}</h4> -->
    <!-- </div>
  </div>
</div> -->

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Zgjidh dege" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let dege of filteredOptions | async" [value]="dege.Dega">
        {{dege.Dega}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<button mat-button color="primary" (click)="onClickDergo()">Dergo</button>
<!-- <p>Lendet e Pavendosura: </p>
<mat-selection-list #shoes (selectionChange)="onSelection($event, shoes.selectedOptions)">
  <mat-list-option *ngFor="let orar of oraret">
    {{orar.Dega}}/ {{orar.Lenda}}/ {{orar.Viti}}/ {{orar.Paraleli}}/ {{orar.Tipi}}/ {{orar.Pedagog}}
  </mat-list-option>
</mat-selection-list> -->
<br>
<mat-form-field *ngIf="oraret!=null" style="width:32%">
  <mat-select placeholder="Lendet e Pavendosura:" (selectionChange)="onSelect($event)" >
    <mat-option *ngFor="let orar of oraret" [value]="orar">
      {{orar.Dega}}/ {{orar.Lenda}}/ {{orar.Viti}}/ {{orar.Paraleli}}/ {{orar.Tipi}}/ {{orar.Pedagog}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field *ngIf="disponibel!=null" style="width:32%">
  <mat-select placeholder="Disponibel:">
    <mat-option *ngFor="let dispo of disponibel" [value]="dispo">
      {{dispo.Tipi}}/ {{dispo.Dita}}/ {{dispo.Klasa}}/ {{dispo.Ora}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button color="primary" (click)="onClickShto()">Shto</button>
<table class="tg"style="table-layout: fixed;width: 1000px">
  <tr>
    <th class="tg-drd7" colspan="3">E Hene</th>
    <th class="tg-drd7" colspan="3">E Marte</th>
    <th class="tg-drd7" colspan="3">E Merkure</th>
    <th class="tg-drd7" colspan="3">E Enjte</th>
    <th class="tg-drd7" colspan="3">E Premte</th>
  </tr>
  <tr>
    <td class="tg-jwtr"></td>
    <td class="tg-d53b"></td>
    <td class="tg-0g60">08:00</td>
    <td class="tg-0g60">09:00</td>
    <td class="tg-0g60">10:00</td>
    <td class="tg-0g60">11:00</td>
    <td class="tg-0g60">12:00</td>
    <td class="tg-0g60">13:00</td>
    <td class="tg-0g60">14:00</td>
    <td class="tg-d53b">15:00</td>
    <td class="tg-0g60">16:00</td>
    <td class="tg-0g60">17:00</td>
    <td class="tg-0g60">18:00</td>
    <td class="tg-zci2">19:00</td>
    <td class="tg-zci2">20:00</td>
  </tr>
  <tr>
    <td class="tg-zorb" rowspan="2">Viti I</td>
    <td class="tg-0g60">PA1</td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-0qe0"></td>
    <td class="tg-0qe0"></td>
  </tr>
  <tr>
    <td class="tg-0g60">PA2</td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-0qe0"></td>
    <td class="tg-0qe0"></td>
  </tr>
  <tr>
    <td class="tg-zorb" rowspan="2">Viti II</td>
    <td class="tg-0g60">PB1</td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-0qe0"></td>
    <td class="tg-0qe0"></td>
  </tr>
  <tr>
    <td class="tg-0g60">PB2</td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-0qe0"></td>
    <td class="tg-0qe0"></td>
  </tr>
  <tr>
    <td class="tg-zorb" rowspan="2">Viti III</td>
    <td class="tg-0g60">PC1</td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-0qe0"></td>
    <td class="tg-0qe0"></td>
  </tr>
  <tr>
    <td class="tg-0g60">PC2</td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-ozja"></td>
    <td class="tg-0qe0"></td>
    <td class="tg-0qe0"></td>
  </tr>
</table>
