<!-- <div class="card">
<div class="card-header">
</div>
<div class="card-body">
  <div class="row">
    <div class="col-md-2">Filter by</div>
    <div class="col-md-4">
   
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Filtered by: {{degetListFilter}}</h4> -->
    <!-- </div>
  </div>
</div> -->

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Zgjidh dege" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let dege of filteredOptions | async" [value]="dege.Dega">
        {{dege.Dega}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<button mat-button color="primary" (click)="onClickDergo()">Dergo</button>
<!-- <p>Lendet e Pavendosura: </p>
<mat-selection-list #shoes (selectionChange)="onSelection($event, shoes.selectedOptions)">
  <mat-list-option *ngFor="let orar of oraret">
    {{orar.Dega}}/ {{orar.Lenda}}/ {{orar.Viti}}/ {{orar.Paraleli}}/ {{orar.Tipi}}/ {{orar.Pedagog}}
  </mat-list-option>
</mat-selection-list> -->
<br>
<mat-form-field *ngIf="oraret!=null" style="width:32%">
  <mat-select placeholder="Lendet e Pavendosura:" (selectionChange)="onSelect($event)" >
    <mat-option *ngFor="let orar of oraret" [value]="orar">
      {{orar.Dega}}/ {{orar.Lenda}}/ {{orar.Viti}}/ {{orar.Paraleli}}/ {{orar.Tipi}}/ {{orar.Pedagog}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field *ngIf="disponibel!=null" style="width:32%">
  <mat-select placeholder="Disponibel:" (selectionChange)="onSelectDisponibel($event)">
    <mat-option *ngFor="let dispo of disponibel" [value]="dispo">
      {{dispo.Tipi}}/ {{dispo.Dita}}/ {{dispo.Klasa}}/ {{dispo.Ora}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button color="primary" (click)="onClickShto()">Shto</button>

<table class="tg"style="table-layout: fixed;width: 1000px">
  <tr>
    <th class="tg-drd7" colspan="2"></th>
    <th class="tg-drd7" colspan="3" >E Hene</th>
    <th class="tg-drd7" colspan="3">E Marte</th>
    <th class="tg-drd7" colspan="3">E Merkure</th>
    <th class="tg-drd7" colspan="3">E Enjte</th>
    <th class="tg-drd7" colspan="3">E Premte</th>
  </tr>
  <tr>
    <td class="tg-drd7" colspan="2">08:00</td>
    <td class="tg-drd7" colspan="3"><span *ngIf="dita=='H'&& ora=='08:00'" >{{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='08:00'"> {{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='08:00'">{{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='08:00'">{{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='08:00'">{{ description }}</span></td>
  </tr>
  <tr>
      <td class="tg-drd7" colspan="2">09:00</td>
      <td class="tg-drd7" colspan="3"><span *ngIf="dita=='H'&& ora=='09:00'">{{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='09:00'">{{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='09:00'">{{ description }}</span> </td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='09:00'">{{ description }}</span></td>
    <td class="tg-drd7" colspan="3"><span  *ngIf="dita=='P'&& ora=='09:00'">{{ description }}</span></td>
    </tr>
    <tr>
        <td class="tg-drd7" colspan="2">10:00</td>
        <td class="tg-drd7" colspan="3"><span *ngIf="dita=='H'&& ora=='10:00'" >{{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='10:00'">{{ description }}</span></td>
    <td class="tg-drd7" colspan="3"><span *ngIf="dita=='ME'&& ora=='10:00'" >{{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='10:00'">{{ description}}</span> </td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='10:00'">{{ description}}</span></td>
    </tr>
      <tr>
          <td class="tg-drd7" colspan="2">11:00</td>
          <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='H'&& ora=='11:00'">{{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='11:00'">{{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='11:00'">{{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='11:00'">{{ description }}</span></td>
    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='11:00'">{{ description }}</span></td>
        </tr>
        <tr>
            <td class="tg-drd7" colspan="2">12:00</td>
            <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='H'&& ora=='12:00'">{{ description }}</span></td>
            <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='12:00'">{{ description }}</span></td>
            <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='12:00'">{{ description }}</span></td>
            <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='12:00'">{{ description }}</span></td>
            <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='12:00'">{{ description }}</span></td>
                 </tr>
          <tr>
              <td class="tg-drd7" colspan="2">13:00</td>
              <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='H'&& ora=='13:00'">{{ description }}</span></td>
              <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='13:00'">{{ description }}</span></td>
              <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='13:00'">{{ description }}</span></td>
              <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='13:00'">{{ description }}</span></td>
              <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='13:00'">{{ description }}</span></td>
                       </tr>
            <tr>
                <td class="tg-drd7" colspan="2">14:00</td>
                <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='H'&& ora=='14:00'">{{ description }}</span></td>
                <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='14:00'">{{ description }}</span></td>
                <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='14:00'">{{ description }}</span></td>
                <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='14:00'">{{ description }}</span></td>
                <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='14:00'">{{ description }}</span></td>
                 </tr>
              <tr>
                  <td class="tg-drd7" colspan="2">15:00</td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='H'&& ora=='15:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='15:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='15:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='15:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='15:00'">{{ description }}</span></td>
                     </tr>
                <tr>
                    <td class="tg-drd7" colspan="2">16:00</td>
                    <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='H'&& ora=='16:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='16:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='16:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='16:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='16:00'">{{ description }}</span></td>
                
                  </tr>
                  <tr>
                      <td class="tg-drd7" colspan="2">17:00</td>
                      <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='H'&& ora=='17:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='17:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='17:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='17:00'">{{ description }}</span></td>
                  <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='17:00'">{{ description }}</span></td>
                
                    </tr>
                    <tr>
                        <td class="tg-drd7" colspan="2">18:00</td>
                        <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='H'&& ora=='18:00'">{{ description }}</span></td>
                        <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='18:00'">{{ description }}</span></td>
                        <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='18:00'">{{ description }}</span></td>
                        <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='18:00'">{{ description }}</span></td>
                        <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='18:00'">{{ description }}</span></td>
                      
                      </tr>
                      <tr>
                          <td class="tg-drd7" colspan="2">19:00</td>
                          <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='H'&& ora=='19:00'">{{ description }}</span></td>
                          <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='19:00'">{{ description }}</span></td>
                          <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='19:00'">{{ description }}</span></td>
                          <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='19:00'">{{ description }}</span></td>
                          <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='19:00'">{{ description }}</span></td>
                       
                        </tr>
                        <tr>
                            <td class="tg-drd7" colspan="2">20:00</td>
                            <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='H'&& ora=='20:00'">{{ description }}</span></td>
                            <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='MA'&& ora=='20:00'">{{ description }}</span></td>
                            <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='ME'&& ora=='20:00'">{{ description }}</span></td>
                            <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='E'&& ora=='20:00'">{{ description }}</span></td>
                            <td class="tg-drd7"  colspan="3"><span *ngIf="dita=='P'&& ora=='20:00'">{{ description }}</span></td>
                         
                          </tr>
</table>