.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-drd7{font-weight:bold;background-color:#96fffb;text-align:center}
.tg .tg-jwtr{background-color:#38fff8;text-align:center;vertical-align:top}
.tg .tg-d53b{background-color:#dae8fc;text-align:center;vertical-align:top}
.tg .tg-0g60{font-weight:bold;background-color:#dae8fc;text-align:center;vertical-align:top}
.tg .tg-zci2{font-weight:bold;background-color:#dae8fc;text-align:left;vertical-align:top}
.tg .tg-zorb{font-weight:bold;background-color:#38fff8;text-align:center}
.tg .tg-ozja{background-color:#ecf4ff;text-align:center;vertical-align:top}
.tg .tg-0qe0{background-color:#ecf4ff;text-align:left;vertical-align:top}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  mat-selection-list.mat-selection-list.mat-list-base{
    width: 45%;
    height: 250px;
    overflow-y: scroll;
  }