<table class="tg" style="table-layout: fixed;margin-left: 339px;
margin-top: 138px; width: 704px">
<colgroup>
<col style="width: 220px;">
<col style="width: 220px;">
<col style="width: 220px;">
<col style="width: 220px;">
</colgroup>
  <tr>
    <th class="tg-qte3" style="height: 75px;">Hyr</th>
    <th class="tg-qte3"style="height: 75px;">Importo Skedarin</th>
    <th class="tg-qte3"style="height: 75px;">Ekzekuto Orarin</th>
    <th class="tg-qte3"style="height: 75px;" ><a (click)="redirect()">Rregullo Orarin</a></th>
  </tr>
  <tr>
    <td class="tg-qte3"style="height: 75px;">Menaxho Klasat</td>
    <td class="tg-qte3"style="height: 75px;">Menaxho Oret</td>
    <td class="tg-qte3"style="height: 75px;">Gjenero Disponibel</td>
    <td class="tg-qte3"style="height: 75px;">Menaxho Lendet/Pedagoget</td>
  </tr>
  <tr>
    <td class="tg-qte3"style="height: 75px;">Statistika</td>
    <td class="tg-qte3"style="height: 75px;"></td>
    <td class="tg-qte3"style="height: 75px;"></td>
    <td class="tg-qte3"style="height: 75px;"></td>
  </tr>
</table>
<router-outlet></router-outlet>

